body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../pictures/bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.sidebar {
    position: fixed;
    width: 60px;
    background-color: #004d4d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.sidebar a {
    color: white;
    font-size: 20px;
    margin: 20px 0;
    text-decoration: none;
}
.sidebar .in{
    background-color: #3aa7a7;
    width: 40px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
}
.sidebar .out{
    color: white;
    font-size: 20px;
    margin: 400px 0;
    text-decoration: none;
}

.content {
    margin-left: 60px;
    flex-grow: 1;
    padding: 20px;
    color: #000;
}

.content h1 {
    font-size: 30px;
}

input[type="text"] {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    margin: 15px 0;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.edit {
    background: green;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.hapus {
    background: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
html, body {
    overflow: auto;
}